<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "http://jakarta.apache.org/log4j/" "log4j.dtd">

<log4j:configuration>

  <!-- outputs to the console -->
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
	     <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %t %-5p %c %x - %m%n"/>
    </layout>
  </appender>
      
   <category name="esb" additivity="false">
		<priority value="INFO"/>
		<appender-ref ref="ConsoleAppender"/>
	</category> 
      
  <!-- matches everything, this will get dumped to stdout -->
  <root>
    <priority value="INFO"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>


</log4j:configuration> 
